<h1>FAQ</h1>
<h2>FAQ = Frequently Asked AND Annoying Questions</h2>
<h3>1. Why did you rip-off pinterest?</h3>
<p>Because it's a really cool app, and besides I'm learning fullstack rails</p>
<h3>2. Aren't you afraid of being sued by the big guys at pinterest???</h3>
<p>Not really, as am not doing any seed rounds or social funding or hitting up any VCs</p>
<h3>3. How can we contact you?</h3>
<p>tag me on github @rjoe19 or follow me on twitter @MrRichJoe</p>
